<label for="input">Orçamento</label><br>
  <input id="orcamento" type="number" placeholder="Digite o número do orçamento...">
    <br><br>

  <label for="input">Valor da Venda (incluindo frete)</label><br>
  <input class="orcamento" placeholder="Digite o valor da venda" id="valordoPedido">
  <br><br>

<div id="formapgto">
  <label>Forma de Pagamento/Cobrança</label><br>

  
  <input type="radio"  onclick="check(this, ['#bandeiracartao', '#parcelas', '#freteConta'])" value="avista" id="html" name="formaPgo">
  <label id="option"><i class="gg-dollar" style="display: inline-block; margin-right: 8px; margin-left: 3px;"></i>Á vista</label><br>

  
  <input type="radio" onclick="check(this, [ '#valorFrete', '#localcobranca', '#entregaEndereco', '#dataAgendada', '#pgtoavista', '#bandeiracartao',  '#vendafrete', '#tipofrete', '#entregaAgendada', '#parcelas', '#freteConta'])" value="faturado" name="formaPgo">
  <label id="option"><i class="gg-file" style="display: inline-block; margin-right: 5px;" ></i>Faturado</label><br>

  
  <input type="radio" onclick="check(this, ['#pgtoavista','#freteConta'])" value="cartao" name="formaPgo">
  <label id="option"><i class="gg-credit-card" style="display: inline-block; margin-right: 5px;"></i>Cartão</label><br>

  
  <input type="radio" onclick="check(this,  [ '#valorFrete', '#entregaEndereco', '#dataAgendada', '#pgtoavista', '#bandeiracartao',  '#vendafrete', '#tipofrete', '#entregaAgendada', '#localcobranca', '#parcelas', '#freteConta'])" value="semPgo" name="formaPgo">
  <label id="option"><i class="gg-block" style="display: inline-block; margin-right: 5px;"></i>Sem Pagamento</label><br>

  
  <input type="radio" onclick="check(this,  [ '#valorFrete', '#entregaEndereco', '#dataAgendada', '#pgtoavista', '#bandeiracartao', '#vendafrete', '#tipofrete', '#entregaAgendada', '#parcelas', '#freteConta'])" value="Deposito Programado" id="javascript" name="formaPgo">
  <label id="option"><i class="gg-sand-clock" style="display: inline-block; margin-right: 5px;"></i>Depósito Programado</label><br>
  
  <input type="radio" onclick="check(this,  ['#valorFrete', '#entregaEndereco', '#dataAgendada', '#pgtoavista', '#bandeiracartao', '#vendafrete', '#tipofrete', '#entregaAgendada', '#parcelas', '#freteConta'])" value="chequeprogramado" id="javascript" name="formaPgo">
  <label id="option"><i class="gg-inpicture" style="display: inline-block; margin-right: 5px;"></i>Cheque Programado</label><br>
  
  <input type="radio" onclick="check(this,  [ '#valorFrete', '#entregaEndereco', '#dataAgendada', '#pgtoavista', '#bandeiracartao', '#vendafrete', '#tipofrete', '#entregaAgendada', '#parcelas', '#freteConta'])" value="cartaovendas" id="javascript" name="formaPgo">
  <label id="option"><i class="gg-credit-card" style="display: inline-block; margin-right: 5px;" ></i>Cartão na sala de vendas</label><br><br>
</div>

 <div id="parcelas" style="display: none; z-index: -999">
  <br>
  <label>Número de parcelas:</label><br>
  <select type="number" id="Inputparcelas" name="parcelas">
    <option>...</option>
    <option>1x</option>
    <option>2x</option>
    <option>3x</option>
    <option>4x</option>
    <option>5x</option>
    <option>6x</option>
    <option>Outros</option>
  </select>
</div>
<br>

<div id="entregaretira">
  <label>Entrega ou Retirada?</label><br>
  <input type="radio" onclick="check(this, ['#vendafrete', '#entregaEndereco','#freteConta'])" value="Entrega Imediata" name="entregaretira">
  <label id="option">Entrega Imediata</label><br>
  
  <input type="radio" onclick="check(this, ['#valorFrete', '#entregaEndereco', '#dataAgendada', '#pgtoavista', '#bandeiracartao', '#vendafrete', '#tipofrete', '#entregaAgendada', '#freteConta'])" value="retirada" name="entregaretira">
  <label id="option">Retirada</label><br>
  
  <input type="radio" onclick="check(this, ['#vendafrete', '#dataAgendada', '#entregaEndereco', '#freteConta'])" value="Entrega Agendada" name="entregaretira">
  <label id="option">Entrega Agendada</label><br>
  
  <input type="radio" onclick="check(this, ['#vendafrete', '#entregaEndereco','#dataAgendada','#entregaAgendada'])" value="transportadora" name="entregaretira">
  <label id="option">Transportadora</label>
</div>

 <div id="freteConta" style="display: none; z-index: -999">
  <br>
  <label>Frete por conta:</label><br>
  <input type="radio" id="html" name="freteConta" value="Cliente">
  <label id="option">Cliente</label><br>
  <input type="radio" id="html" name="freteConta" value="Cemear">
  <label id="option">Cemear</label><br>
</div>

                   
<div id="valorFrete" style="display: none; z-index: -999">
  <br><label for="vF">Valor do Frete</label><br>
  <input id="valorFreteInput" name="vF" class="valorfrete" ><br>
</div>

<div id="entregaEndereco" style="display: none; z-index: -999">
  <br>
  <label>Entrega no Endereço do Cadastro</label><br>
  <input type="radio" id="html" name="entregaEndereco" value="Não">
  <label id="option">Não</label><br>
  <input type="radio" id="html" name="entregaEndereco" value="Sim">
  <label id="option">Sim</label><br>
</div>

   <div id="dataAgendada" style="display: none; z-index: -999">
      <label>Foi agendado uma data?</label><br>
      <input type="radio" value="naoAgendado" onclick="check(this, ['#entregaAgendada'])" id="html" name="entrega">
      <label id="option">Não - Aguardar Vendedor</label><br>
      <input type="radio" value="entregaAgendada" onclick="check(this, ['#entregaAgendada'])" id="html" name="entrega">
      <label id="option" >Sim - Preencher agenda</label><br>
    </div>