<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>CEMEAR ENVIAR PEDIDOS></title>
  <link rel="icon" sizes="any" type="image/svg+xml" href="/logoce.svg">
</head>
<link rel="stylesheet" href="stylesFormulario.css">
<a href="home">VOLTAR AO HOME</a>  
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <div> 
                    <h4>FORMULÁRIO <%= titulo %></h4>
                </div>
            </div>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadUsuarioModal"> <!-- o nome cadModal é para não confundir com a aula do professor, mas no meu caso seria 'pedidoModal' pois trata-se de lançamento de pedidos e não de usuarios. -->
                        REGISTRAR
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="table" class="col-lg-12">
            </div>
        </div>
    </div>
    <div class="modal fade" id="cadUsuarioModal" tabindex="-1" aria-labelledby="cadUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <img src="https://static.wixstatic.com/media/2fbcb5_dabb3829a4ea4787ace926f954e2f6a5~mv2.png/v1/fill/w_2500,h_500,al_c/2fbcb5_dabb3829a4ea4787ace926f954e2f6a5~mv2.png" alt="200" width="200">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
        <div class="modal-body">
          <form id="cad-usuario-form"> <!-- este seletor será usado no java script (o javascript que vai receber estes dados)-->

        <% if(pegar != "financeiro" && pegar != "registroentrega" && pegar != "saida" && pegar != "retorno" && pegar != "canhoto") { %>
          <label for="numeronf" class="col-form-label">NÚMERO NF: </label>
            <br>
          <div>
          <input type="number" autocomplete="off" name="numeronf" class="form-control" id="numeronf" placeholder="Preencha o número da nota...">
          <span class="tooltiptext">Tooltip text</span>
          </div>  

        <% } %>
          
        <% if(pegar == "financeiro") { %>

          <label for="vendedor" class="col-form-label">Vendedor: </label> 
            <br>
          <select name="vendedor" id="vendedor">
            <option value=" " selected="selected"> </option>
            <option value="ALINE">ALINE</option>
            <option value="MARCIA">MARCIA</option>
            <option value="WAGNER">WAGNER</option>
            <option value="GELSON">GELSON</option>
            <option value="LUIS">LUIS</option>
            <option value="FERNANDO">FERNANDO</option>
            <option value="EDUARDO">FERNANDO</option>
            <option value="FAGUNDES">EDUARDO</option>
            <option value="FAVRETTO">FAVRETTO</option>
            <option value="FERNANDA">FERNANDA</option>
            <option value="GASPAR">GASPAR</option>
            <option value="GILIARD">GILIARD</option>
            <option value="GILMAR">GILMAR</option>
            <option value="JONATHAS">JONATHAS</option>
            <option value="KOZAK">KOZAK</option>
            <option value="LEONARDO">LEONARDO</option>
            <option value="SABINO">SABINO</option>
          </select>
            
<br
    <label for="nropedido" class="col-formlabel">nropedido:</label> 
            <br>
          <input type="number" pattern="\w\d\w \d\w\d"name="nropedido" class="form-control" id="nropedido" placeholder="Preencha o número do pedido">
            <br>


    <label for="cliente" class="col-formlabel">Cliente:</label> 
            <br>
          <input type="text"  name="cliente" class="form-control" id="cliente">
            <br>

          <label for="tipodefaturamento" class="col-form-label">tipodefaturamento:</label>
            <br>
          <select name="tipodefaturamento" id="tipodefaturamento">
            <option value="" selected disabled hidden> </option>
            <option value="NORMAL">NORMAL</option>
            <option value="REMESSA FUTURA">REMESSA FUTURA</option>
            <option value="REMESSA TRANSPORTE">REMESSA TRANSPORTE</option>
          </select>

            <br><br>
    <label for="valordopedido" class="col-formlabel">Valor da venda(incluindo frete):</label> 
            <br>
          <input type="text" data-charset="_X_ X_X" data-mask="0 000 000 000" name="valordopedido" class="form-control" id="valorPedido">
            <br>
      <label for="formapgto" class="col-form-label">Forma de Pagamento:</label>
          <br>
          <select name="formapgto" id="formapgto">
            <option value=" " selected disabled hidden> </option>
            <option value="Á vista">Á vista</option>
            <option value="Faturado">Faturado</option>
            <option value="Sem pagamento">Sem pagamento</option>
            <option value="Depósito Bancario Programado">Depósito Bancario Programado</option>
            <option value="Cheque programado">Cheque programado</option>
            <option value="Deposito Bancário">Deposito Bancário</option>
            <option value="Pix">Pix</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Pago com Crédito">Pago com Crédito</option>
            <option value="Cartão Sala de Vendas">Cartão Sala de Vendas</option>
          </select>
          <br>
          <br>
                <label for="vendafrete" class="col-form-label">Venda com frete ?</label>
          <br>
          <select name="vendafrete" id="vendafrete">
            <option value=" " selected="selected"> </option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
          <br>
                      <br>
      <label for="retiraentrega" class="col-form-label">Retira, entrega ou transp. ?</label>
          <br>
          <select onchange="aparecer(this, entrega)" name="retiraentrega" id="retiraentrega">
            <option value=" " selected="selected"> </option>
            <option value="RETIRA">RETIRA</option>
            <option value="ENTREGA">ENTREGA</option>
            <option value="TRANSPORTADORA">TRANSPORTADORA</option>
          </select>
          <br>
      <label for="localdecobranca" class="col-form-label">Local de Cobrança:</label>
            <br>
          <select name="localdecobranca" id="localdecobranca">
            <option value=" "> </option>
            <option value="EMPRESA">EMPRESA</option>
            <option value="SALA DE VENDAS">SALA DE VENDAS</option>
            <option value="COBRAR NA ENTREGA">COBRAR NA ENTREGA</option>
          </select>
          <br><br>

          <div id="entrega">
          <label for="localdaentrega" class="col-formlabel">Local da Entrega:</label> 
            <br>
          <input type="text"  name="localdaentrega" class="form-control" id="localdaentrega">
            <br>


          <label for="fretedestacado" class="col-form-label">Tpo de Frete:</label>
            <br>
          <select name="fretedestacado" id="fretedestacado" value="...">
            <option value=" "> </option>
            <option value="DESTACADO">DESTACADO</option>
            <option value="DILUIDO">DILUIDO</option>
          </select>
          <br>
      <label for="valorfrete" class="col-formlabel">Valor Frete R$:</label> 
            <br>
          <input type="text"  name="valorfrete" class="form-control" id="valorfrete" value="...">
            <br>
            <label for="dataentrega" class="col-formlabel">Data da Entrega:</label> 
          <input type="date"  name="obs" class="form-control" id="dataEntrega" value="...">
            
          </div>
      <label for="obs" class="col-formlabel">Observações:</label> 
            <br>
          <input type="text"  name="obs" class="form-control" id="obs" value="...">
            <br>
          <input type="hidden"  name="operadornf" class="form-control" id="operadornf" value="ROSI" value="...">
           

           
          <input type="hidden"  name="statusnf" class="form-control" id="statusnf" value="PENDENTE">

          <input type="hidden"  name="obsfinanceiro" class="form-control" id="obsfinanceiro" value="...">
                     

          <input type="hidden"  name="exped" class="form-control" id="exped" value="...">
          

          <input type="hidden"  name="quemrecebeu" class="form-control" id="quemrecebeu" value="...">

          
        <% } %>

            <% if(pegar == "saida") { %>
          
          <label for="numeronf" class="col-form-label">Número da Nota Fiscal: </label>
            <input type="text"  name="numeronf" class="form-control" id="numeronf" placeholder="Se for mais de uma nota separe por virgula...">
            <br>

          <label for="nomeconferente" class="col-form-label">Conferente:</label>
          <br>
          <select onchange="aparecer(this, entrega)" name="nomeconferente" id="nomeconferente">
            <option value=" " selected="selected"> </option>
            <option value="EVERTON">EVERTON</option>
            <option value="DUDU">DUDU</option>
            <option value="MAX">MAX</option>
            <option value="CRISTIANO D.">CRISTIANO D.</option>
            <option value="MANOEL">MANOEL</option>
            <option value="MATHEUS">MATHEUS</option>
          </select>
              <br>


          <label for="placa" class="col-form-label">Placa:                 </label>
              <br>
          <select name="placa" id="placa">
            <option value=" "> </option>
            <option value="IYW-7921">IYW7921</option>
            <option value="IWC5261">IWC5261</option>
            <option value="JBD-7E59">JBD7E59</option>
            <option value="IZT1E84">IZT1E84</option>
            <option value="IWW7921">IWW7921</option>
            <option value="IVO1603">IVO1603</option>
            <option value="AZI2E30">AZI2E30</option>
            <option value="ITA7784">ITA7784</option>
            <option value="IUT9476">IUT9476</option>
            <option value="IST6840">IST6840</option>
            <option value="IVP0G05">IVP0G05</option>
            <option value="JBD9H36">JBD9H36</option>
            <option value="IXH8706">IXH8706</option>
          </select>
              <br>

     <label for="motorista" class="col-form-label">Motorista:                 </label>
              <br>
          <select name="motorista" id="motorista">
            <option value=" "> </option>
            <option value="ALEXANDRE">ALEXANDRE</option>
            <option value="DIONATHA">DIONATHA</option>
            <option value="DOUGLAS">DOUGLAS</option>
            <option value="IGON">IGON</option>
            <option value="JULIANO">JULIANO</option>
            <option value="MATHEUS">MATHEUS</option>
            <option value="PAULO">PAULO</option>
            <option value="VANDERLEI">VANDERLEI</option>
            <option value="VILNEI">VILNEI</option>
            <option value="MAX">MAX</option>
            <option value="PAULO VITOR">PAULO VITOR</option>
            <option value="CRISTIANO">CRISTIANO</option>
            <option value="WILLIAM">WILLIAM</option>
            <option value="PAULO ALEXANDRE">PAULO ALEXANDRE</option>
          </select>
              <br>

          <label for="hodometro" class="col-form-label">Hodometro:                 </label> 
            <br>
          <input type="text"  name="hodometro" class="form-control" id="hodometro">
            <br>

          <label for="destino" class="col-form-label">Cidadede(s) Destino:                 </label> 
            <br>
          <input type="text"  name="destino" class="form-control" id="destino">
            <br>
          <label for="obs" class="col-form-label">Observações:</label> 
            <br>
          <input type="text"  name="obs" class="form-control" id="obs">
            <br>
          <label for="datahorasaida" class="col-form-label">Datahora Saída:</label> 
            <br>
          <input type="datetime-local"  name="datahorasaida" class="form-control" id="datahorasaida">

            <% } %>

            <% if(pegar == "retorno") { %>
            <label for="numeronf" class="col-form-label">Número da Nota Fiscal: </label>
            <input type="text"  name="numeronf" class="form-control" id="numeronf" placeholder="Digite o número da Nota...">
            <br>
  
            <label for="codentrega" class="col-form-label">Cód. Entrega:  </label>
          <br>
          <input type="text"  name="codentrega" class="form-control" id="codentrega" placeholder="Preencha o código da entrega...">
            <br>
          <label for="placa" class="col-form-label">Placa: </label>
              <br>
          <select name="placa" id="placa">
            <option value=" "> </option>
            <option value="IWC5261">IWC5261</option>
            <option value="IZT1E84">IZT1E84</option>
            <option value="IWW7921">IWW7921</option>
            <option value="IVO1603">IVO1603</option>
            <option value="AZI2E30">AZI2E30</option>
            <option value="ITA7784">ITA7784</option>
            <option value="IUT9476">IUT9476</option>
            <option value="IST6840">IST6840</option>
            <option value="IVP0G05">IVP0G05</option>
            <option value="JBD9H36">JBD9H36</option>
            <option value="IXH8706">IXH8706</option>
          </select>
              <br>
          <label for="hodometro" class="col-form-label">Hodometro:                 </label> 
            <br>
          <input type="text"  name="hodometro" class="form-control" id="hodometro">
            <br>
          <label for="datahora" class="col-form-label">Data:                 </label> 
            <br>
          <input type="datetime-local"  name="datahora" class="form-control" id="datahora">
            <br>
          <label for="obs" class="col-form-label">Observações:                </label> 
            <br>
          <input type="text"  name="obs" class="form-control" id="obs">
            <br>
            <% } %>

            <% if(pegar == "canhoto") { %>
          <label for="quemrecebeu" class="col-form-label">Quem recebeu o canhoto: </label>
              <br>
          <select name="quemrecebeu" id="quemrecebeu">
            <option value=" "> </option>
            <option value="MARCIA">MARCIA</option>
            <option value="JULIA">JULIA</option>
            <option value="RENITA">RENITA</option>
            <option value="NADIA">NADIA</option>
          </select>
              <br><br>

              
            <label for="numeronf" class="col-form-label">Número da Nota Fiscal: </label>
            <input type="text"  name="numeronf" class="form-control" id="numeronf" placeholder="Digite o número da Nota...">
            <br>
          <label for="motorista" class="col-form-label">Motorista:                 </label>
              <br>
          <select name="motorista" id="motorista">
            <option value=" "> </option>
            <option value="ALEXANDRE">ALEXANDRE</option>
            <option value="DIONATHA">DIONATHA</option>
            <option value="DOUGLAS">DOUGLAS</option>
            <option value="IGON">IGON</option>
            <option value="JULIANO">JULIANO</option>
            <option value="MATHEUS">MATHEUS</option>
            <option value="VANDERLEI">VANDERLEI</option>
            <option value="VILNEI">VILNEI</option>
            <option value="WILLIAM">WILLIAM</option>
            <option value="PAULO ALEXANDRE">PAULO ALEXANDRE</option>
            <option value="OUTROS">OUTROS</option>
          </select>
              <br>

          <input type="hidden"  name="concluida" class="form-control" id="concluida" value="CONCLUIDO">
            <br>
 
              <% } %>

          <% if(pegar == "expedicao2") { %>
            <br>
          <label for="quemrecebeu" class="col-form-label">Responsável NF:</label>
            <br>
          <select name="quemrecebeu" id="quemrecebeu" value="quemrecebeu">
            <option value=" "> </option>
            <option value="MANOEL">MANOEL</option>
            <option value="CRISTIANO DUARTE">CRISTIANO DUARTE</option>
          </select>
            <br>
            
          <% } %>

          <% if(pegar == "expedicao2" || pegar == "expedicao") { %>
            
<input type="hidden"  name="statusdep" class="form-control" id="statusdep" value="PENDENTE">
            
          <% } %>
          

          <% if(pegar == "expedicao") { %>

                      <label for="quemrecebeu" class="col-form-label">Responsável NF:</label>
            <br>
          <select name="quemrecebeu" id="quemrecebeu" value="quemrecebeu">
            <option value=" "> </option>
            <option value="MAX">MAX</option>
            <option value="DUDU">DUDU</option>
            <option value="TINGA">TINGA</option>
          </select>
            <br>

          <% } %>

          <% if(pegar == "expedicao") { %>
            <input type="hidden"  name="statusdep" class="form-control" id="statusdep" value="PENDENTE">
          <% } %>

          <% if(pegar == "registroentrega") { %>

            <label for="numeronf" class="col-form-label">Número da Nota Fiscal: </label>
            <input type="text"  name="numeronf" class="form-control" id="numeronf" placeholder="Se for mais de uma nota separe por virgula...">
            
          <label for="motorista" class="col-form-label">Motorista:                 </label>
              <br>
          <select name="motorista" id="motorista">
            <option value=" "> </option>
            <option value="ALEXANDRE">ALEXANDRE</option>
            <option value="DIONATHA">DIONATHA</option>
            <option value="DOUGLAS">DOUGLAS</option>
            <option value="IGON">IGON</option>
            <option value="JULIANO">JULIANO</option>
            <option value="MATHEUS">MATHEUS</option>
            <option value="VANDERLEI">VANDERLEI</option>
            <option value="VILNEI">VILNEI</option>
            <option value="MAX">MAX</option>
            <option value="CRISTIANO">CRISTIANO</option>
            <option value="WILLIAM">WILLIAM</option>
            <option value="PAULO ALEXANDRE">PAULO ALEXANDRE</option>
          </select>
              <br>
          <label for="codentrega" class="col-form-label">Cód. Entrega:                 </label> 
              <br>
            <input type="text"  name="codentrega" class="form-control" id="codentrega">
            <br>

          <label for="cidade" class="col-form-label">Cidade(s):                 </label> 
              <br>
            <input type="text"  name="cidade" class="form-control" id="cidade">
            <br>
          <label for="quemrecebeu" class="col-form-label">Qual o nome da pessoa/empresa que recebeu o material?                 </label> 
            <br>
            <input type="text"  name="quemrecebeu" class="form-control" id="quemrecebeu">
            <br>

          <label for="concluida" class="col-form-label">Entrega Concluída?                </label>
              <br>
          <select name="concluida" id="concluida">
            <option value=" "> </option>
            <option value="Concluída">Concluída</option>
            <option value="Parcialmente Concluída">Parcialmente Concluída</option>
            <option value="Recusada">Recusada</option>
          </select>
              <br>
          <label for="obs" class="col-form-label">Observações:               </label> 
            <br>
            <input type="text"  name="obs" class="form-control" id="obs">
            <br>
            

          <% } %>
            
          <BR></BR>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button> <!-- isso era um type button virou um input -->     <!-- cuidar muito bem o posicionamento das DIV'S no FORM pois dá erro no javascript! foi motivo de alguma raiva passada hoje 31/08 kkkkk -->
        <input onclick="clickEnviar(this)" class="btn btn-outline-success"
         id="cad-usuario-btn" value="Enviar" /> 
          </div>
        </form>
        </div>
        <hr>

        <!-- SELETOR "msgAlerta" responsavel em receber a mensagem de sucesso ou erro -->
        <span id="msgAlerta"></span>

        <div class="row">
            <div class="col-lg-12">
                <!-- SELETOR "listar-usuarios" responsavel em receber os registros do banco de dados -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
    function aparecer(a, b){
      let valor = a.value
      
      if (valor == "ENTREGA") {   
         b.style.display = "block" //display visivel
      }else{
         b.style.display = "none"
      }
  }

let peG = "<%= pegar %>"

let dadosPassagem = <%-JSON.stringify(dados.passagem)%> 
setInterval(() => {
  fetch('https://projeto.andersonhenri15.repl.co/database')
.then(data => {
return data.json();
})
.then(post => {
    for(let prop in post["passagem"]) {
      if(post["passagem"][prop].numeronf != dadosPassagem[prop].numeronf ||
        post["passagem"][prop].exped != dadosPassagem[prop].exped ||
        post["passagem"][prop].usada != dadosPassagem[prop].usada) {
        
          window.location.reload()
        }
    }
  })
  console.log("PING")
}, 5000)
    </script>
</body>
            
<script>
      let obj = {}
function clickEnviar(a) {
  
      let pegar = "<%= pegar %>"
  
      switch(pegar){
        case "financeiro": 
          obj = {
          numeronf: "...",
          exped : pegar,       
          quemrecebeu: document.querySelector("#quemrecebeu").value,
          vendedor:  document.querySelector("#vendedor").value,
          nropedido:
document.querySelector("#nropedido").value,
          cliente:  document.querySelector("#cliente").value,
          tipodefaturamento:  document.querySelector("#tipodefaturamento").value,
          valordopedido:  document.querySelector("#valorPedido").value,
          formapgto:  document.querySelector("#formapgto").value,
          retiraentrega: document.querySelector("#retiraentrega").value,
          localdaentrega: document.querySelector("#localdaentrega").value,
          localdecobranca: document.querySelector("#localdecobranca").value,
          obs: document.querySelector("#obs").value,
          fretedestacado: document.querySelector("#fretedestacado").value,
          valorfrete: document.querySelector("#valorfrete").value,
          dataentrega: document.querySelector("#dataEntrega").value,
          operadornf: document.querySelector("#operadornf").value,
          statusnf: document.querySelector("#statusnf").value,
          obsfinanceiro: document.querySelector("#obsfinanceiro").value
          }
          break
        case "logistica":
          obj = {
          numeronf: document.querySelector("#numeronf").value,
          exped : pegar,              
          quemrecebeu: document.querySelector("#quemrecebeu").value,
          motorista: document.querySelector("#motorista").value,
          placa: document.querySelector("#placa").value,
          statuslog: document.querySelector("#placa").value
          }
          break
        case "saida":
          obj = {
          numeronf: document.querySelector("#numeronf").value,
          exped: pegar,
          codentrega: Math.floor(Math.random() * (9999 - 1000)) + 1000,
          nomeconferente: document.querySelector("#nomeconferente").value,
          placa: document.querySelector("#placa").value,
          motorista: document.querySelector("#motorista").value,
          hodometro: document.querySelector("#hodometro").value,
          destino: document.querySelector("#destino").value,
          obs: document.querySelector("#obs").value,
          datahorasaida: document.querySelector("#datahorasaida").value
          }
          break
        case "retorno":
          obj = {
          numeronf: document.querySelector("#numeronf").value,
          exped: pegar,
          codentrega: document.querySelector("#codentrega").value,
          placa: document.querySelector("#placa").value,
          hodometro: document.querySelector("#hodometro").value,
          datahora: document.querySelector("#datahora").value,
          obs: document.querySelector("#obs").value 
          }
          break
        case "canhoto":
          obj = {
          numeronf: document.querySelector("#numeronf").value,
          exped: pegar,
          quemrecebeu: document.querySelector("#quemrecebeu").value,
          concluida: document.querySelector("#concluida").value,
          motorista: document.querySelector("#motorista").value
          }
          
          break

   case "registroentrega":
          obj = {
          numeronf: document.querySelector("#numeronf").value, 
          motorista: document.querySelector("#motorista").value,
          exped: pegar,
          codentrega: document.querySelector("#codentrega").value,
          cidade: document.querySelector("#cidade").value,
          quemrecebeu: document.querySelector("#quemrecebeu").value,
          concluida: document.querySelector("#concluida").value,
          cidade: document.querySelector("#cidade").value,
          obs: document.querySelector("#obs").value
          }
          break
      }
    fetch('https://projeto.andersonhenri15.repl.co/registrarBancoDados', {
    method: "POST",
    body: JSON.stringify(obj, null, 2),
    headers: {"Content-type": "text/plain; charset=UTF-8",
             "Sector": pegar}
  })
  .then(function(res){ return res.json() })
  .then(function(data){ 
    alert( data.msg ) 
    window.location.reload();
  })
  }
</script>

</html>