<tr style="width:200px" class='$cordaLinha'>
<td colspan='0.5' id='valor_id$id'>$id</td>
<td id='valor_datahora$id'><input type='hidden' id='datahora_text$id' value='$datahora'>$datahora</td>
<td id='valor_vendedor$id'>$vendedor</td>
<td id='valor_nropedido$id'>$nropedido</td>
<td id='valor_cliente$id'>$cliente</td>
<td id='valor_tipodefaturamento$id'>$tipodefaturamento</td>
<td id='valor_valordopedido$id'>$valordopedido</td>
<td id='valor_formapgto$id'>$formapgto</td>
<td id='valor_retiraentrega$id'>$retiraentrega</td>
<td id='valor_localdaentrega$id'>$localdaentrega</td>
<td id='valor_localdecobranca$id'>$localdecobranca</td>
<td id='valor_obs1$id'>$obs1</td>
<td id='valor_fretedestacado$id'>$fretedestacado</td>
<td id='valor_valorfrete$id'>$valorfrete</td>
<td id='valor_dataentrega$id'>$dataentrega</td>
<td id='valor_operadornf$id'><select name='operador' id='operador$id'><option value='ROSI'>ROSI</option><option value='APRENDIZ'>APRENDIZ</option></select><p onclick='make(this,operador$id,$id)' id='Pvalor_operador$id'>$operadornf</p></td>
<td id='valor_statusnf$id'><select name='coisa' id='coisa$id'><option value='PENDENTE'>PENDENTE</option><option value='EMITIDA'>EMITIDA</option><option value='RETORNOU AO VENDEDOR'>RETORNOU AO VENDEDOR</option><option value='CANCELADA'>CANCELADA</option></select><p onclick='make(this,coisa$id,$id)' id='Pvalor_coisa$id'>$statusnf</p></td>
<td id='valor_obs2$id'><input type='text' id='obs2_text$id' value='$obs2'><p onclick='make(this,obs2_text$id,$id)' id='Pvalor_obs2$id'>$obs2</p></td>
<td id='valor_numeronf$id'><input type='text' id='numeronf_text$id' value='$numeronf'><p onclick='make(this,numeronf_text$id,$id)' id='Pvalor_numeronf$id'>$numeronf</p></td>
<td id='valor_exped$id'><select name='exped' id='exped$id'><option value='EXPED.1'>EXPED.1</option><option value='EXPED.2'>EXPED.2</option><option value='LOGÍSTICA'>LOGÍSTICA</option> </select><p onclick='make(this,exped$id,$id)' id='Pvalor_exped$id'>$exped</p></td>
<td id='valor_quemrecebeu$id'><select name='quem' id='quem$id'><option value='MAX'>MAX</option><option value='DUDU'>DUDU</option><option value='TINGA'>TINGA</option> <option value='CRISTIANO DUARTE'>CRISTIANO DUARTE</option> <option value='MANOEL'>MANOEL</option> <option value='DIEIMES'>DIEIMES</option> </select><p onclick='make(this,quem$id,$id)' id='Pvalor_quemrecebeu$id'>$quemrecebeu</p></td>
</tr>
