<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
</head>
  <style>
    body{
          background-image: url(https://img.freepik.com/vector-premium/administrador-sistemas-masculino-que-trabaja-computadora-portatil-mantener-o-reparar-servidor-trabajos-reparacion-ajuste-conexion-red-ingeniero-tecnico-trabaja-mantenimiento-sistema_93083-1031.jpg);
      background-repeat:no-repeat;
      Background-position:;

    }
  </style>
<body>
    <h1>Sua sessão expirou!</h1>
    <h3>Faça login para continuar.</h3>
    <br>
    <label for="link">Clique aqui para realizar o login:</label>
    <br> 
  <li><a href="https://projeto.andersonhenri15.repl.co" id="link">FAZER LOGIN</a></li>
</body>
</html>